@import "./partials/setup";
@import "./partials/mixins";
@import "./partials/fonts";
@import "./partials/story";

$footerDay: #80AC73;
$footerNight: #170E1C;

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
    @include mqBigTablet{
        width: 95%;
    }
}

img{
    max-width: 100%;
}

header{
    height: 100vh;
    background-image: url(../assets/trippyHeader.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    vertical-align: middle;
    
    .titleScreen{
        text-align: center;
        padding: 10px 30px;
        width: 55%;
        background-color: rgba(242,243,243,0.9);
        border-radius: 30px;
        box-shadow: 10px 7px 6px 8px rgba(255,224,18,0.82);
    }
}

header{
    .titleScreen{
        @include mqSmallLaptop{
                width: 70%;
            }
        @include mqTablet{
                width: 75%;
            }
        @include mqMedPhone{
            width: 85%;
            padding: 10px;
        }
        @include mqSmallPhone{
            width: 100%;
            box-shadow: none;
        }
    }

}

.dayFooter, .nightFooter{
    padding: 10px;
    color: white;
    font-weight: bolder;
    border-top: 2px solid white;
}
.dayFooter{
    background-color: $footerDay;
}

.nightFooter{
    background-color: $footerNight;
    text-shadow: 0px 0px 4px white;
}