@import "./partials/setup";
@import "./partials/fonts";
@import "./partials/firebaseSpans";


.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

header{
    height: 100vh;
    background-image: url(../assets/trippyHeader.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .titleScreen{
        text-align: center;
        padding: 30px 20px;
        width: 55%;
        background-color: rgba(242,243,243,0.9);
        border-radius: 30px;
        box-shadow: 10px 7px 6px 8px rgba(255,224,18,0.82)

    }
}

.dayDiv{
    height: 100vh;
    background-image: url(../assets/dayBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nightDiv{
    height: 100vh;
    background-image: url(../assets/nightBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shroom {
    height: 100px;
    width: 100px;
}

.pokeImg {
    height: 200px;
    width: 200px;
}
