@import url("https://fonts.googleapis.com/css?family=Barriecito|Spicy+Rice|McLaren|News+Cycle|Didact+Gothic&display=swap");

html{
    font-size: 62.5%;
}
h1{
    font-size: 8rem;
    margin: 0;
    font-family: 'Spicy Rice', cursive;
    letter-spacing: 10px;
    font-weight: lighter;
    background: linear-gradient(to right, #8b2f97 20%, #fe6845 50%, #9d0b0b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

h2, label{
    font-size: 3rem;
    
    font-family: 'Didact Gothic', sans-serif;
    
}

h2{
    color: #940a37
}

label{
    color: #0c9463;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 10px 0px;
}

select{
    font-size: 2.5rem;
    font-family: 'Didact Gothic', sans-serif;
    background-color: #ffc6c7;
    text-align: center;
}

button{
    padding: 10px;
    width: 50%;
    margin-top: 40px;
    font-size: 2.5rem;
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
      text-transform: uppercase;
      box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

p{
    font-size: 2rem;
}

