.App{
    overflow: hidden;
}

.storyPage{
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-around;
    @include mqBigPhone{
        height: 120vh;
    }
    p{
        background-color: rgba(242,243,243,0.5);
        border-radius: 20px;
        margin-bottom: 10px;
        padding: 0 20px;
    }
}

.dayDiv{
    background-image: url(../assets/dayBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h3{
        color: #dc5353;
        text-shadow: 2px 2px white;
        border: none;
    }
    
}

.nightDiv{
    background-image: url(../assets/nightBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h3{
        color: #ffd800;
        text-shadow: 0px 0px 40px #ffd800;
    }
    .nightStory {
        text-shadow: 0px 0px 10px white;
        color: white;
        background-color: rgba(242,243,243,0.1);
    }
    .images{
        filter:brightness(50%)
    }
}

.images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    .shroom {
    height: 100px;
    width: 100px;
    @include mqSmallPhone{
        height: 80px;
        width: 80px;
    }
}
    .pokeImg {
    height: 200px;
    width: 200px;
    animation-duration: 5s;
    @include mqSmallPhone{
        height: 150px;
        width: 150px;
    }
}
}