html{
    font-size: 62.5%;
}

p{
    font-size: 2rem;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}
.daySpan {
    color: orange;
}

.nightSpan {
    color: blue;
}

.latinSpan {
    mix-blend-mode: darken;
    color: olive;
}

.para {
    background-color: pink;
}

.shroom {
    height: 100px;
    width: 100px;
}

.pokeImg {
    height: 200px;
    width: 200px;
}
